{% extends 'base.html' %} {% block content %}
<h3>Our cocktails</h3>

<h3>Your Cocktail List</h3>
{% for recipe in recipes %}
<div class="row">
    <div class="col m12">
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><i class="material-icons">local_drink</i><strong>{{recipe.recipe_name}}</strong></div>
                <div class="collapsible-body"><span>{{recipe.recipe_description}} </span></div>
                <div class="collapsible-body"><span>{{recipe.diffculity}}</span></div>
            </li>
            <li>

                <div class="collapsible-header"><i class="material-icons">local_drink</i><strong>{{recipe.cocktail_name}}</strong></div>
                <div class="collapsible-body"><span>By {{recipe.cocktail_author}} 
                        {{recipe.cocktail_details}} </span></div>
            </li>
        </ul>
    </div>
</div>
{% endfor %} {% endblock %}
